#contor_table{
    width: 60%;
    margin: 0 auto;
    border: 1px solid black;
}

#contor_table td{
    background-color: #cccccc;
    width:33%;
       
}

#contor_table .header{
	background-color:#4d94ff;
}

#profile_img{
	width: 80px;
	height: 80px;
}