#contor_table{
    width: 60%;
    margin: 0 auto;
    border: 1px solid black;
}

#contor_table td{
    background-color: #A5A5A5;
    width:33%;
       
}

#profile_img{
	width: 80px;
	height: 80px;
}